build/
install/
build/
temp/
src/eigen/
src/opencv/
data/moosmann/velodyne_slam/scenario_1/*.json
data/waymo/**/frames_camera/
data/waymo/**/elongation/
data/waymo/**/intensity/
data/waymo/**/second_return/
data/waymo/**/*.json
data/waymo/**/*.tfrecord